{% extends 'base.html' %}
{% block content %}
    <div class="container" style="padding-top: 4.5rem;">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#all" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">ทั้งหมด</a>
            {% for category in categories %}
              <a class="nav-link" id="nav-{{ category.0 }}-tab" data-bs-toggle="tab" data-bs-target="#{{ category.0 }}" href="#nav-{{ category.0 }}" role="tab" aria-controls="nav-{{ category.0 }}" aria-selected="false">{{ category.1 }}</a>
            {% endfor %}
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="padding-top: 1rem;">
          <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="nav-all-tab">
              ทั้งหมด?
          </div>
          {% for category in categories %}
              <div class="tab-pane fade" id="{{ category.0 }}" role="tabpanel" aria-labelledby="nav-{{ category }}-tab">{{ category.1 }}</div>
          {% endfor %}
        </div>
    </div>
{% endblock %}