{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-evenly" style="padding-top: 4.5rem;">
        <div class="align-self-center"><img src="http://parknumsamutprakarn.go.th/public/list_upload/backend/list_30/pics_topic_30.jpg?858" class="img-fluid" alt="T1RU"></div>
        <div class="align-self-center"><h1 style="font-size: 4vw; text-align: center;">โรงเรียนเทศบาล 1</h1><br><h2 style="font-size: 2.5vw; text-align: center;">(ในระบบสาธิตมหาวิทยาลัยรามคำแหง)</h2></div>
    </div>
{% endblock %}